

header {
	background-color: #496580;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 70px;
	margin-right: 10px;
}
header h2{
    margin-right: 50px;
}

.container{
    margin-bottom: 90px;
}

h1, h2 {
    text-align: center;
}


h2 {
    margin-top: 20px;
}

ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    
    padding: 10px;
    width: 85%;
    padding-left: 50px;
    margin-bottom: 10px;
    background-color: #eee;
    border-radius: 5px;
}
li:hover{
    transform: scale(1.1);
}

.prof-head {
    font-weight: bold;
}

.prof-name {
    margin-left: 20px;
}
.prof-name a{
    text-decoration: none;
}

footer {
background-color: #ccc;
color: #333;
padding: 20px;
text-align: center;
}